# Logger settings
LOG_DIR=/path/to/folder

# MQTT Settings
MQTT_BROKER_ADDRESS=<ip or domain>
MQTT_PORT=<port>
MQTT_USERNAME=<mqtt username>
MQTT_PASSWORD=<mqtt_password>
MQTT_CLIENT_ID=<unique client id for this client>

# Number of seconds to wait between each detection loop
WATCHER_SLEEP_SECONDS=60

# Path to dir that should contain error image (dumps)
ERROR_IMAGE_DIR=/path/to/error/images
ERROR_IMAGE_DIR_MAX_SIZE_MB=100
ERROR_IMAGE_DIR_CLEANUP_INTERVAL_SECONDS=300

# HTTP server settings
HTTP_URL_PREFIX=https://your-reverse-proxy.example.com/with-possible-prefix
